<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>band_website</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style1.css" type="text/css">
    <link rel="stylesheet" href="styles/index.processed.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

  <header class="main-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg main-nav px-0">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu" aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                <div class="menu icon"></div> 
                </button>
            <div class="collapse navbar-collapse" id="mainMenu">
                <ul class="navbar-nav ml-auto text-uppercase f1">
                    <li>
                        <a href="#home">Startseite</a>
                    </li>
                    <li>
                        <a href="#service">Bilder</a>
                    </li>
                    <li>
                        <a href="#about">Auftritte</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Aufnahmen <b class="caret"></b></a>
                        <ul class="dropdown-menu multi-level">
                            <li style="margin-top:16px!important;"><a style="font-size: 24px!important;" href="#">Audio</a></li>
                            <li style="margin-top:10px!important;"><a style="font-size: 24px!important;margin-top:5px!important;" href="#">Video</a></li>
                            <li></li>
                        </ul>
                    </li>
                    <li>
                    </li>
            </div>
        </nav>
    </div>
    <!-- /.container -->
</header>

  <img src="/Zeichnung.svg" alt="SVG mit img Tag laden" style="width:100%;  margin-top: -50px !important;" >

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <%- body %>
</body>
</html>